@page "/Wiki/Edit/{id:guid}"
@model GtKasse.Ui.Pages.Wiki.EditArticleModel
@{
    ViewData["include-trumbowyg"] = true;
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);
    Model.BuildHeaderMenu(new { id });

    var indexUrl = Url.PageLink("Index");
    var deleteUrl = Url.PageLink(string.Empty, "delete", new { id });
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        <div class="columns is-gapless is-mobile">
            <div class="column is-flex is-align-items-center">@Html.CreateBreadcrumb()</div>
            <div class="column is-narrow">
                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="user-action">
                            <span class="icon is-small">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="user-action" role="menu">
                        <div class="dropdown-content">
                            <a href="#" class="dropdown-item open-modal" data-url="@deleteUrl" data-target="#deleteModal">
                                Artikel löschen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-half">

            @if (!ModelState.IsValid)
            {
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <div asp-validation-summary="All"></div>
                </div>
            }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" asp-for="Input.Title"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Title" />
                            </div>
                            <span asp-validation-for="Input.Title"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Identifier"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Identifier" />
                            </div>
                            <span asp-validation-for="Input.Identifier"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.UserId"></label>
                            <div class="select">
                                <select asp-for="Input.UserId" asp-items="Model.Users"></select>
                            </div>
                            <span asp-validation-for="Input.UserId"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.DescriptionMember"></label>
                            <div class="control">
                                <textarea class="textarea" asp-for="Input.DescriptionMember" rows="10"></textarea>
                            </div>
                            <span asp-validation-for="Input.DescriptionMember"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.DescriptionManagementBoard"></label>
                            <div class="control">
                                <textarea class="textarea" asp-for="Input.DescriptionManagementBoard" rows="10"></textarea>
                            </div>
                            <span asp-validation-for="Input.DescriptionManagementBoard"></span>
                        </div>

                        <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>

            </div>
        </div>


    </div>
</section>

@await Html.PartialAsync("_Footer")

@Html.CreateModalTemplateWithOkCancel(
    "deleteModal",
    "Artikel löschen?",
    "Möchtest du wirklich diesen Artikel löschen?")

@section Scripts
{
<script type="text/javascript">
$(function () {
    $('#@Html.IdFor(m => m.Input.DescriptionMember)').trumbowyg(trumbowygConfig);
    $('#@Html.IdFor(m => m.Input.DescriptionManagementBoard)').trumbowyg(trumbowygConfig);
    
    handleModal({
        id: '#deleteModal',
        token: {@Html.AjaxCsrfToken()},
        confirm: {
            dataurl: 'url',
            post: function () {
                sleep(1000).then(() => window.location.replace('@indexUrl'));
                return true;
            },
            toast: {
                success: 'Artikel wurde gelöscht.',
                failed: 'Artikel konnte nicht gelöscht werden.'
            }
        }
    });
});
</script>
}
