@page
@model GtKasse.Ui.Pages.Clubhouse.CreateBookingModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Model.BuildHeaderMenu();
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="columns">
            <div class="column is-half">

            @if (!ModelState.IsValid)
            {
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <div asp-validation-summary="All"></div>
                </div>
            }

                <form method="post">
                    <div class="field">
                        <label class="label">Buchung von/bis</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.Start" />
                        </div>
                        <span asp-validation-for="Input.Start"></span>
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.End" />
                        </div>
                        <span asp-validation-for="Input.End"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Title"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Title" />
                        </div>
                        <span asp-validation-for="Input.Title"></span>
                    </div>
                    <div class="field">
                      <label class="label" asp-for="Input.Description"></label>
                      <div class="control">
                        <textarea class="textarea" asp-for="Input.Description" rows="10"></textarea>
                      </div>
                      <span asp-validation-for="Input.Description"></span>
                    </div>

                    <button class="button is-primary" type="submit">Anlegen</button>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
