@page
@model GtKasse.Ui.Pages.Tryouts.CreateTryoutModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="columns">
            <div class="column is-half">

            @if (!ModelState.IsValid)
            {
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <div asp-validation-summary="All"></div>
                </div>
            }

                <form method="post">
                    <div class="field">
                        <label class="label" asp-for="Input.Type"></label>
				                <div class="control">
                           <input class="input" type="text" asp-for="Input.Type" />
                        </div>
                        <span asp-validation-for="Input.Type"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Date"></label>
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.Date" />
                        </div>
                        <span asp-validation-for="Input.Date"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.UserId"></label>
                        <div class="select">
                            <select asp-for="Input.UserId" asp-items="Model.Users"></select>
                        </div>
                        <span asp-validation-for="Input.UserId"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.MaxBookings"></label>
                        <div class="control">
                            <input class="input" type="number" asp-for="Input.MaxBookings" />
                        </div>
                        <span asp-validation-for="Input.MaxBookings"></span>
                    </div>
                    <div class="field">
                        <label class="label">Anmeldungen von/bis</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.BookingStart" />
                        </div>
                        <span asp-validation-for="Input.BookingStart"></span>
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.BookingEnd" />
                        </div>
                        <span asp-validation-for="Input.BookingEnd"></span>
                    </div>
                    <div class="field">
                      <label class="label" asp-for="Input.Description"></label>
                      <div class="control">
                        <textarea class="textarea" asp-for="Input.Description" rows="10"></textarea>
                      </div>
                      <span asp-validation-for="Input.Description"></span>
                    </div>

                    <button class="button is-primary" type="submit">Anlegen</button>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
