<footer class="footer has-footer-bottom">
    <div class="content has-text-centered">
        <p>
			&copy; @DateTime.UtcNow.ToString("yyyy") <strong>GT Kasse</strong> <span>v</span>@appSettings.Value.Version | <a href="/Imprint">Impressum</a> | <a href="/Privacy">Datenschutz</a>
        </p>
    </div>
</footer>