@page
@model GtKasse.Ui.Pages.Invoices.CreateInvoiceModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

         <div class="columns">
            <div class="column is-half">

                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <div class="field">
                        <label class="label" asp-for="Description"></label>
                        <div class="control">
                            <input class="input" type="text" autofocus="" asp-for="Description" />
                        </div>
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="field">
                        <label class="label">@Html.DisplayNameFor(m => m.BookingDates)</label>
                        <div id="filterByDate" class="select">
                          <select asp-items="Model.BookingDates"></select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="BookingDateTo"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="BookingDateTo" readonly="readonly" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="CurrentTotal"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="CurrentTotal" readonly="readonly" />
                        </div>
                    </div>
                    <button class="button is-primary" type="submit">Anlegen</button>
                </form>
            </div>
        </div>


    </div>
</section>

@await Html.PartialAsync("_Footer")


@section Scripts 
{
    <script type="text/javascript">
        $(function () {

            $('#filterByDate').change(function() {
                const filter = $(this).find(':selected').val();
                const url = new URL(window.location.href);
                url.searchParams.set('filter', filter);
                window.location.href = url.href;
            });
        });
    </script>
}