@page "/Boats/{id:guid}/Edit"
@model GtKasse.Ui.Pages.Boats.EditBoatModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
    Guid.TryParse(Request.RouteValues["id"] as string, out var id);
    Model.BuildHeaderMenu(new { id });
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="columns">
            <div class="column is-half">

                @if (!ModelState.IsValid)
                {
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        <div asp-validation-summary="All"></div>
                    </div>
                }

                <form method="post">
                    <fieldset disabled="@Model.IsDisabled">
                        <div class="field">
                            <label class="label" asp-for="Input.Name"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Name" />
                            </div>
                            <span asp-validation-for="Input.Name"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Identifier"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Identifier" />
                            </div>
                            <span asp-validation-for="Input.Identifier"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Location"></label>
                            <div class="control">
                                <input class="input" type="text" asp-for="Input.Location" />
                            </div>
                            <span asp-validation-for="Input.Location"></span>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.MaxRentalDays"></label>
                            <div class="control">
                                <input class="input" type="number" asp-for="Input.MaxRentalDays" />
                            </div>
                            <span asp-validation-for="Input.MaxRentalDays"></span>
                        </div>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox"><input type="checkbox" asp-for="Input.IsLocked" /> @Html.DisplayNameFor(e => e.Input.IsLocked)</label>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" asp-for="Input.Description"></label>
                            <div class="control">
                                <textarea class="textarea" asp-for="Input.Description" rows="10"></textarea>
                            </div>
                            <span asp-validation-for="Input.Description"></span>
                        </div>

                        <button class="button is-primary" type="submit">Speichern</button>
                    </fieldset>
                </form>

            </div>
        </div>


    </div>
</section>

@await Html.PartialAsync("_Footer")