@page
@model GtKasse.Ui.Pages.MyMailings.IndexModel
@{
	ViewData["Title"] = Model.GetNode().Title;
	ViewData["HasFooter"] = true;

	var dateTimeConverter = new GermanDateTimeConverter();
}

@await Html.PartialAsync("_Header")

<section class="section">
  <div class="container">

		<div class="list has-hoverable-list-items has-visible-pointer-controls">
			@if (Model.Items.Length < 1)
			{
				<div class="list-item">Keine Mailings gefunden.</div>
			}
			@foreach (var i in Model.Items)
			{
				<div class="list-item">
					<div class="list-item-image">
						<i class="fa-solid fa-envelope fa-2x"></i>
					</div>
					<div class="list-item-content">
						<div class="list-item-title">@i.Subject</div>
						<div class="list-item-description">
							<span class="tag is-rounded">@(dateTimeConverter.ToDateTime(i.Created))</span>
							@if (i.HasRead)
							{
								<span class="tag is-rounded is-success">Gelesen</span>
							}
							else
							{
								<span class="tag is-rounded is-warning">Ungelesen</span>
							}
						</div>
					</div>
					<div class="list-item-controls">
						<div class="buttons">
							<a class="button is-dark is-inverted" target="_blank" rel="noopener noreferrer" href="@(Url.PageLink("Details", null, new { id = i.Id }))">
								<span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
							</a>
						</div>
					</div>
				</div>
			}
		</div>

  </div>
</section>
	