@page
@model GtKasse.Ui.Pages.MyFleet.CreateBookingModel
@{
    ViewData["Title"] = Model.GetNode().Title;
    ViewData["HasFooter"] = true;
}

@await Html.PartialAsync("_Header")

<section class="section">
    <div class="container">

        @Html.CreateBreadcrumb()

        <div class="columns">
            <div class="column is-half">

            @if (!ModelState.IsValid)
            {
                <div class="notification is-danger">
                    <button class="delete"></button>
                    <div asp-validation-summary="All"></div>
                </div>
            }

                <form method="post">

                    <div class="field">
                        <label class="label" asp-for="Input.VehicleId"></label>
                        <div class="select">
                            <select asp-for="Input.VehicleId" asp-items="Model.Vehicles"></select>
                        </div>
                        <span asp-validation-for="Input.VehicleId"></span>
                    </div>
                    <div class="field">
                        <label class="label">Zeitraum von/bis</label>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.Start" />
                        </div>
                        <span asp-validation-for="Input.Start"></span>
                        <div class="control">
                            <input class="input" type="datetime-local" asp-for="Input.End" />
                        </div>
                        <span asp-validation-for="Input.End"></span>
                    </div>
                    <div class="field">
                        <label class="label" asp-for="Input.Purpose"></label>
                        <div class="control">
                            <input class="input" type="text" asp-for="Input.Purpose" />
                        </div>
                        <span asp-validation-for="Input.Purpose"></span>
                    </div>

                    <button class="button is-primary" type="submit">Anlegen</button>
                </form>

            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("_Footer")
